<p class="status"><span>Hey <strong><%= @page.name %></strong>! <%= @page.join_status %> <%= @page.max_players_info %></span></p>

<p>These players have also joined:</p>

<ul class="players-joined">
<% @page.players.each do |player| %>
<%   you = (player == @page.players.last) ? " (you)" : "" %>
  <li><%= player.name %><%= you %></li>
<% end %>
</ul>

<p>Do you want to play with them?</p>
<a href="/deal">Yes! Start game!</a>
<a href="/">Add another player</a>
